<div class= "container">
    <div class="card text-white bg-info mb-3" style="max-width: 28rem;">
        <div class="card-header">
            ATM Card Details
        </div>
        <div class="card-body">
            <h5 class="card-title">Card Number: <%= card.card_number %></h5>
            <h5 class="card-title">Expiry Date: <%= card.expiry_date %></h5>
            <h5 class="card-title">CVV: <%=card.cvv %></h5>    
        </div>
    </div>
</div>