<h2> Existing Loan Accounts</h2>
<div class ="container">
<% @loanaccounts.each_with_index do |account, index| %>
<div class="row justify-content-md-center">
<div class="col-8 mt-4">
  <div class="card text-center shadow mb-5 bg-body-tertiary rounded">
    <div class="card-header">
      <%= link_to "Loan Account #{index+1}", loan_account_info_path(account)%>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%=account.account_number%></h5>
      <p class="card-text"><%=account.loan_account_info.loan_type%></p>
    </div>
    <div class="card-footer text-body-secondary">
    <small>Created <%=time_ago_in_words(account.created_at)%> ago</small>
    </div>
  </div>
</div>
</div>
<%end%>
</div>